@import "@/assets/variables";

@font-face {
  font-family: Barlow;
  src: url("./fonts/Barlow-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: Barlow;
  src: url("./fonts/Barlow-Regular.woff2");
  font-weight: 400;
}

body {
  font-family: Barlow, sans-serif;
  color: $fg-0;
  background-color: $bg-0;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

button {
  background-color: $accent;
  color: $bg-0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
}

button:disabled,
button[disabled] {
  background-color: $bg-3;
}

h1 {
  color: $fg-1;
  font-weight: 300;
  margin: 2rem 0 1rem 1rem;
  display: flex;
  align-items: first baseline;

  i {
    margin-left: 1rem;
  }
}

textarea {
  border: none;
  background-color: $bg-2;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

textarea:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-areas: "sidenav content";
  width: 100%;
}

.sidenav {
  grid-area: sidenav;
  background-color: $bg-1;
  height: 100vh;
  overflow-y: auto;

  h1 {
    color: $fg-1;
    display: flex;
    align-items: first baseline;

    i {
      margin-left: 1rem;
    }
  }
}

.content {
  grid-area: content;
  height: 100vh;
  overflow-y: auto;
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 0 1fr;
    grid-template-areas: "sidenav content";
  }

  .mobileSwap {
    grid-template-columns: 1fr 0;
  }

  .mobileNav {
    position: fixed;
    padding: 1rem 1.5rem;
    mask: url("../assets/images/back_icon.svg") no-repeat center;
    -webkit-mask: url("../assets/images/back_icon.svg") no-repeat center;
    background-color: $accent-sec;
    cursor: pointer;
  }

}

%alert {
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  margin: 1rem 0;
  box-sizing: border-box;
}

.error-alert {
  @extend %alert;
  background-color: $red;
}

.success-alert {
  @extend %alert;
  background-color: $green;
  color: $bg-0;
}

kbd {
  background: $bg-3;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.7rem;
  color: $fg-2;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li:hover {
  background-color: $bg-2;

  #editBtn,
  #deleteBtn {
    visibility: visible;
  }
}

.list-item {
  padding-left: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px 10px;

  span {
    flex-grow: 1;
  }

  button {
    border-radius: 0;
    margin: 4px;
  }

  div {
    display: flex;
    align-items: center;
  }
}

.create-item-button {
  width: 100%;
  border-radius: 0;
  display: flex;
  justify-content: center;

  div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
  }
}

/* --- Custom list buttons ------------------------------------------------- */
%actionBtn {
  mask-size: contain !important;
  background-color: $fg-2;
}

#editBtn {
  @extend %actionBtn;
  mask: url("../assets/images/pen_icon.svg") no-repeat center;
  -webkit-mask: url("../assets/images/pen_icon.svg") no-repeat center;
  visibility: hidden;
}

#editBtn:hover {
  background-color: $accent;
}

#deleteBtn {
  @extend %actionBtn;
  mask: url("../assets/images/trash_icon.svg") no-repeat center;
  -webkit-mask: url("../assets/images/trash_icon.svg") no-repeat center;
  visibility: hidden;
}

#deleteBtn:hover {
  background-color: $red;
}

#confirmBtn {
  @extend %actionBtn;
  mask: url("../assets/images/check_icon.svg") no-repeat center;
  -webkit-mask: url("../assets/images/check_icon.svg") no-repeat center;
}

#confirmBtn:hover {
  background-color: $green;
}

.done-todo {
  @extend %actionBtn;
  mask: url("../assets/images/todo_checked.svg") no-repeat center;
  -webkit-mask: url("../assets/images/todo_checked.svg") no-repeat center;
  background-color: $accent-sec;
}

.undone-todo {
  @extend %actionBtn;
  mask: url("../assets/images/todo_unchecked.svg") no-repeat center;
  -webkit-mask: url("../assets/images/todo_unchecked.svg") no-repeat center;
  visibility: visible;
}

.undone-todo:hover {
  background-color: $accent-sec;
}

/* --- Transitions --------------------------------------------------------- */
.scale-enter-active,
.scale-leave-active {
  transform: scaleY(1);
  transform-origin: top;
  transition: all 500ms ease;
  max-height: 800px;
}
.scale-enter,
.scale-leave-to {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 500ms ease;
  max-height: 0;
}
