@import "@/assets/variables";

@font-face {
  font-family: Barlow;
  src: url("./fonts/Barlow-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: Barlow;
  src: url("./fonts/Barlow-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Barlow;
  src: url("./fonts/Barlow-Medium.woff2");
  font-weight: 500;
}

body {
  font-family: Barlow, sans-serif;
  color: $fg-0;
  background-color: $bg-0;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

button {
  background-color: $accent;
  color: $bg-0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
}

button:disabled,
button[disabled] {
  background-color: $bg-3;
}

h1,
h2 {
  color: $fg-1;
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-areas: "sidenav content";
  grid-gap: 20px;
  width: 100%;
}

.sidenav {
  grid-area: sidenav;
  background-color: $bg-1;
  height: 100vh;
  overflow-y: auto;

  h1 {
    margin: 2rem 0 1rem 1rem;
    color: $fg-1;
    display: flex;
    align-items: first baseline;

    i {
      margin-left: 1rem;
    }
  }
}

.content {
  grid-area: content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  #app {
    display: grid;
    grid-template-columns: 1px 1fr;
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas: "g-left g-middle";
    grid-gap: 20px;
  }
}

%alert {
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  margin: 1rem 0;
  box-sizing: border-box;
}

.error-alert {
  @extend %alert;
  background-color: $red;
}

.success-alert {
  @extend %alert;
  background-color: $green;
  color: $bg-0;
}

kbd {
  background: $bg-3;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.7rem;
  color: $fg-2;
}


.scale-enter-active, .scale-leave-active {
  transform: scaleY(1);
  transform-origin: top;
  transition: all 500ms ease;
  max-height: 800px;
}
.scale-enter, .scale-leave-to {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 500ms ease;
  max-height: 0;
}